.rowInputs {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 61.5%;
  max-width: 53rem;
  margin-bottom: 3rem;

  // layout //
  &.ofOne {
    .input {
      width: 100%;
    }
  }
  &.ofTwo {
    width: 60%;
    gap: 8rem;

    .input {
      width: 40%;
    }

    .mainSpan {
      white-space: nowrap;
    }
  }

  .fullWidth {
    width: 100%;
  }

  // helper Text //
  .helperText {
    font-family: $font-1;
    font-weight: 400;
    font-size: 0.71rem;
    display: inline-block;
    margin-top: 0.29rem;
    color: $grey-3;
  }

  // Default Style //
  label {
    font-family: $font-1;
    font-weight: 400;
    font-size: 0.86rem;
    display: flex;
    flex-direction: column;
    color: $grey-1;
    animation: 0.3s;
    -webkit-animation: 0.3s;

    &:hover,
    &.inputHover {
      color: $grey-1;
      & .ipt {
        border-color: $grey-1;
      }
    }

    &:focus-within,
    &.inputFoc {
      color: $blue-1;

      & .ipt {
        border-color: $blue-1;
        background-color: rgba($blue-1, 0.0318);
      }
      & .spanStartIcon,
      & .spanEndIcon {
        color: inherit;
      }
    }

    // Disabled Version //
    & .ipt:disabled {
      background-color: $grey-6;
      border-color: transparent;
    }
  }

  .ipt {
    margin-top: 0.29rem;
    border: 1px solid $grey-3;
    border-radius: 0.57rem;
    -webkit-border-radius: 0.57rem;
    -moz-border-radius: 0.57rem;
    -ms-border-radius: 0.57rem;
    -o-border-radius: 0.57rem;
    animation: 0.3s;
    -webkit-animation: 0.3s;
    outline: none;
    width: 14.29rem;
    font-family: $font-1;
    font-weight: 500;
    font-size: 1rem;
    color: $grey-1;

    &::placeholder {
      font-family: $font-1;
      font-weight: 500;
      font-size: 1rem;
      color: $grey-3;
    }
  }

  // Error //
  .error {
    color: $danger-1;

    & .spanStartIcon,
    & .spanEndIcon {
      color: inherit;
    }

    .ipt {
      border: 1px solid $danger-1;
    }

    &:focus-within,
    &.inputFoc {
      color: $danger-1;

      .ipt {
        border: 1px solid $danger-1;
        background-color: rgba($danger-1, 0.0318);
      }

      & .spanStartIcon,
      & .spanEndIcon {
        color: inherit;
      }
    }

    & .helperText {
      color: inherit;
    }
  }

  // Icon //

  .iconRelative {
    position: relative;
    width: fit-content;
  }
  .spanStartIcon {
    position: absolute;
    top: 1.43rem;
    left: 0.71rem;
    color: $grey-3;

    // Make space for icon //
    & ~ .ipt {
      padding-left: 3rem;
    }
  }
  .spanEndIcon {
    position: absolute;
    top: 1.43rem;
    right: 0.71rem;
    color: $grey-3;
  }

  // Size //
  .sm {
    padding: 0.71rem 0.86rem;
  }

  .md {
    padding: 1.29rem 0.86rem;
  }

  .fullWidth {
    width: 100%;
  }
}

@media screen and (max-width: 1030px) {
  .rowInputs {
    flex-wrap: wrap;
    justify-content: unset;
    width: unset;
    column-gap: 5rem;

    &.ofTwo {
      row-gap: 3rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .rowInputs {
    &.ofTwo {
      .mainSpan {
        white-space: normal;
      }

      .input {
        width: unset;
      }
    }
  }
}
